name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['**']

jobs:
  quality-check:
    name: Lint, Format, Typecheck & Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Project
        run: pnpm build

      - name: Lint, Format & Typecheck
        run: |
          pnpm lint
          pnpm format
          pnpm typecheck
